@import '../../styles/globalStyle';

$img-size: 80px;

.user-card-details {
    @include box-shadow;
    display: flex;
    align-items: center;
    width: 300px;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
    border-radius: 5px;
    color: #484848;
    background: white;
    :hover {
        color: grey;
        cursor: pointer;
    }

    img {
        width: $img-size;
        height: $img-size;
        margin: 10px;
        border-radius: 40px;
    }
}

.details {
    h2, p {
        padding: 5px;
        font-weight: normal;
    }
    p {
        font-size: 14px;
    }
}

.popup-content {
    width: 600px !important;
}

.card-popup {
    display: flex;
    justify-content: left;
    padding: 10px;

    img {
        width: $img-size + 70px;
        height: $img-size + 70px;
        padding: 20px;
    }
}