@import '../../styles/globalStyle';

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 112px;
    border-bottom: 1px rgba(0,0,0,0.1) solid;

    .link-address {
        font-size: 30px;
        font-weight: normal;
        text-decoration: none;
        color: $text-color;
    }

    .link-settings {
        color: $text-color;
    }
}